PORT=3000
MONGO_URI="mongodb://admin:secret@localhost:27017/xlsx-uploader?authSource=admin"

UPLOAD_API_KEY=upload-api-key
STATUS_API_KEY=status-api-key

UPLOADS_TTL=86400000  # 24 horas en milisegundos
GARBAGE_COLLECTION_INTERVAL=3600000  # 1 hora en milisegundos
